<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="AirlinesEntities" connectionString="metadata=res://*/ClientSecure.csdl|res://*/ClientSecure.ssdl|res://*/ClientSecure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Airlines;persist security info=True;user id=sa;password=pw;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AirlinesEntitiesSec" connectionString="metadata=res://*/ClientSecure.csdl|res://*/ClientSecure.ssdl|res://*/ClientSecure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Airlines;persist security info=True;user id=clientAirline;password=pw;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AirlinesEntitiesTri" connectionString="metadata=res://*/ClientSecure.csdl|res://*/ClientSecure.ssdl|res://*/ClientSecure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Airlines;persist security info=True;user id=clientAirline;password=pw;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>